---
---

@import "{{ site.theme }}";

nav ul, footer ul {
  //  font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

header a { color: #F2F2F2; text-decoration: underline; }
